{% extends "layout2.html" %}<!--------using layout2.html as jinja templating--->
{% block body %} 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Thanks for approaching</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          Your email has been sent to me, You will get my response as soon as I check it.
        </p>
      </div>
    </section>

  </main><!-- End #main -->


 {% endblock %}